body {
  background-color: #4caf50;
}

article,
section {
  text-align: center;
  padding-top: 20px;
}

.text {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  align-self: center;
  justify-self: center;
}

.topnav {
  overflow: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
}

.logo {
  max-height: 100%;
  height: 100%;
}

.logo img {
  width: 70%;
}

.topnav a {
  display: block;
  text-align: center;
  text-justify: center;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.aligner {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 600px) {
  
  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    align-self: center;
  }
  .change .bar1 {
    transform: rotate(-47deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .logo {
    max-height: 100%;
    height: 100%;
  }

  .logo img {
    width: 50%;
  }

  .topBar {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    display: block;
  }

  .topnav {
    display: block;
    background-color: #4caf50;
  }
  .topnav.responsive {
    position: relative;
    background-color: #4caf50;
  }
  .topnav.responsive a.icon {
    display: block;
  }

  .topnav.responsive a {
    display: block;
    text-align: center;
    font-size: 30px;
    padding-left: 0%;
    padding: 0%;
  }


  ul:first-child {
    margin-top: 60px;
    padding: 0%;
  }
  ul {
    margin-top: 5px;
    padding: 0%;
  }

  .topnav a.active {
    background-color: #4caf50;
    color: white;
    font-size: 17px;
    padding: 14px 14px 0px 14px;
  }

  @media (min-height: 700px) {
    ul:first-child {
      margin-top: 80px;
      padding: 0%;
    }
    ul {
      margin-top: 10px;
      padding: 0%;
    }
  }
}
